/*
    footer
*/
footer {
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4484CE;
        padding: 24px 0 23px;
        @include sp {
            padding: 0 get_sp(24) get_sp(14);
            flex-wrap: wrap;
        }
        a {
            @include text(12px, 17px, #fff, 500);
            @include sp {
                @include textRes(get_sp(10), get_sp(12));
                display: block;
            }
        }
        li {
            padding: 0 17px;
            border-right: 1px solid #fff;
            @include sp {
                padding: 0 get_sp(12);
                margin-bottom: get_sp(12);
            }
            &:last-child {
                border-right: 1px solid #fff;
                margin-bottom: 0;
            }
            &:nth-last-child(2) {
                @include sp {
                    margin-bottom: 0;
                    border-left: 1px solid #fff;
                }
            }
        }
    }
    .copyright {
        font-size: 12px;
        color: #1077ba;
        background: #e3f1f9;
        padding: 15px;
        @include sp {
            font-size: get_sp(10);
            padding: get_sp(8);
        }
    }
    &.page_list {
        .logo {
            width: 233px;
            margin-bottom: 35px;
            @include sp {
                width: get_sp(233);
                margin-bottom: get_sp(22);
            }
        }
        .footer_main_wrapper {
            background-color: #4484CE;
            text-align: left;
        }
        .footer_main {
            @include maxWidth(1230px);
            padding: 81px 15px 0;
            @include sp {
                max-width: 100%;
                padding: get_sp(30) get_sp(16) 0;
            }
        }
        .search_list {
            display: flex;
            align-items: flex-start;
            margin-bottom: 47px;
            @include sp {
                flex-direction: column;
                margin-bottom: get_sp(36);
            }
            h3 {
                @include text(16px, 22px, #fff,bold);
                margin-bottom: 17px;
                @include sp {
                    @include textRes(get_sp(16), get_sp(22));
                    margin-bottom: get_sp(18);
                }
            }
            .item {
                margin-bottom: 15px;
                @include sp {
                    margin-bottom: get_sp(23);
                }
            }
        }
        .search_diff {
            width: 28.83%;
            margin-right: 64px;
            @include sp {
                width: 100%;
                margin-right: 0;
            }
        }
        .search_location {
            flex: 1;
            .result {
                display: flex;
            }
            .location {
                width: 130px;
                @include text(14px, 20px, #fff, 400);
                @include sp {
                    width: get_sp(100);
                    flex-shrink: 0;
                    @include textRes(get_sp(13), get_sp(18));
                }
            }
        }
        .result {
            padding-left: 20px;
            @include sp {
                padding-left: get_sp(16);
            }
            a {
                @include text(14px, 20px, #fff, 400);
                text-decoration: underline;
                @include sp {
                    @include textRes(get_sp(13), get_sp(18));
                }
            }
            ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
            li {
                margin-right: 15px;
                margin-bottom: 16px;
                @include sp {
                    margin-right: get_sp(19);
                    margin-bottom: get_sp(9);
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}