/*
    button
*/
a {
    &:focus {
        outline: none;
    }
}
/*
    breadcum
*/
.breadcum {
    text-align: left;
    ul {
        display: flex;
        align-items: center;
        @include sp {   
            display: initial;
        }
    }
    li {
        display: flex;
        align-items: center;
        margin-right: 8px;
        @include sp {
            margin-right: get_sp(8);
            display: inline;
        }
        &::after {
            content: '>';
            display: block;
            @include sp {
                display: inline;
                @include textRes(get_sp(12), get_sp(16));
            }
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    a, span {
        @include text(11px, 13px, #37434C, 400);
        margin-right: 8px;
        @include sp {
            @include textRes(get_sp(10), get_sp(16));
            margin-right: get_sp(8);
        }
    }
}

/*
    Item Detail
*/
.item_detail {
    background-color: #FFFFFF;
    padding: 30px;
    position: relative;
    @include sp {
        padding: get_sp(21) get_sp(8) get_sp(19);
    }
    .icon_tlt {
        position: absolute;
        top: -10px;
        left: 30px;
        @include bgsetup('../images/img_note_item.svg', top center, 100% auto);
        width: 50px;
        height: 61px;
        @include sp {
            width: get_sp(50);
            height: get_sp(61);
            left: get_sp(8);
            top: get_sp(-10);
        }
        span {
         color: #FFFFFF;
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
            margin-top: 12px;
            display: block;
            @include sp {
                font-size: get_sp(14);
                margin-top: get_sp(8);
                line-height: get_sp(18);
                padding: 0 get_sp(3);
            }
        }
    }
    .favorites {
        position: absolute;
        right: 30px;
        top: 30px;
        @include sp {
            right: get_sp(8);
            top: get_sp(19);
        }
        a {
            background-color: #FBC500;
            border-radius: 999px;
            color: #FFFFFF;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            text-align: center;
            padding: 10px 13px 9px;
            display: block;
            @include sp {
                padding: get_sp(8);
                width: get_sp(28);
                height: get_sp(28);
                line-height: normal;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            span {
                @include sp {
                    display: none;
                }
            }
            &:before {
                content: '';
                @include bgsetup('../images/icon_heart.svg', top center, 100% auto);
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 2px;
                vertical-align: middle;
                @include sp {
                    width: get_sp(11);
                    height: get_sp(11);
                }
            }
        }
    }
    .info_detail {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        padding-left: 66px;
        @include sp {
            padding: 0;
            margin-bottom: get_sp(10);
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        .info_ {
            display: flex;
            span {
                font-size: 14px;
                line-height: 17px;
                color: #37434C;
                @include sp {
                    font-size: get_sp(13);
                    line-height: get_sp(18);
                }
                &:before {
                    content: '';
                    display: inline-block;
                    margin-right: 4px;
                    vertical-align: bottom;
                }
            }
            .map {
                &:before {
                    @include bgsetup('../images/icon_map.svg', top center, 100% auto);
                    width: 14px;
                    height: 18px;
                    @include sp {
                        width: get_sp(13);
                        height: get_sp(17);
                    }
                }
            }
            .date {
                margin-left: 16px;
                &:before {
                    @include bgsetup('../images/icon_date.svg', top center, 100% auto);
                    width: 16px;
                    height: 18px;
                    @include sp {
                        width: get_sp(16);
                        height: get_sp(18);
                    }
                }
            }
        }
        .receipt {
            margin-left: 72px;
            padding: 5px 5px 5px 6px;
            border-radius: 4px;
            background-color: #F19F4D;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            color: #FFFFFF;
            @include sp {
                margin: 0 0 get_sp(12) get_sp(57);
                padding: get_sp(7) get_sp(7) get_sp(6) get_sp(4);
                font-size: get_sp(12);
            }
        }
    }
    .txt_note {
        color: #4484CE;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        margin-bottom: 7px;
        @include sp {
            font-size: get_sp(16);
            line-height: get_sp(22);
            margin-bottom: get_sp(11);
        }
    }
    .item_tlt {
        display: flex;
        padding-bottom: 18.5px;
        border-bottom: 1px solid #D6D9DA;
        margin-bottom: 16.5px;
        @include sp {
            flex-direction: column;
            padding-bottom: get_sp(10);
            margin-bottom: get_sp(8);
        }
        h2 {
            color: #37434C;
            font-size: 28px;
            line-height: 42px;
            font-weight: bold;
            text-align: left;
            flex: 1;
            @include sp {
                font-size: get_sp(22);
                line-height: get_sp(30);
            }
        }
        .info_branch {
            @include sp {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
            .thumb {
                width: 204px;
                margin: 0 0 12px 18px;
                @include sp {
                    width: get_sp(178);
                    margin: 0;
                }
            }
            .reviews {
                text-align: right;
                a {
                    color: #4484CE;
                    font-family: $font-din;
                    line-height: 17px;
                    font-size: 19px;
                    text-decoration: underline;
                    @include sp {
                        font-size: get_sp(16);
                    }
                    &:before {
                        content: '';
                        @include bgsetup('../images/icon_review_small.png', top center, 100% auto);
                        width: 28px;
                        height: 24px;
                        display: inline-block;
                        margin-right: 8px;
                        vertical-align: text-bottom;
                        @include sp {
                            width: get_sp(28);
                            height: get_sp(24);
                            margin: 0;
                        }
                    }
                    span {
                        font-size: 14px;
                        font-weight: bold;
                        font-family: $base-font-family;
                        @include sp {
                            font-size: get_sp(12);
                        }
                    }
                }
            }
        }
    }
    .request_info {
        display: flex;
        margin-bottom: 17px;
        @include sp {
            margin-bottom: get_sp(16);
            flex-direction: column;
        }
        ul {
            display: flex;
            margin-left: -8px;
            @include sp {
                margin-left: get_sp(-9);
                margin-bottom: get_sp(11);
            }
            li {
                border: 1px solid #D6D9DA;
                border-radius: 10px;
                padding: 8px 0 7px;
                background-color: #D6D9DA;
                margin-left: 8px;
                width: 70px;
                @include sp {
                    border-radius: get_sp(6);
                    width: get_sp(89);
                    padding: get_sp(11) 0;
                    margin-left: get_sp(9);
                }
                &.active {
                   background-color: #4484CE;
                }
                .thumb {
                    @include sp {
                        height: get_sp(29);
                    }
                    img {
                        @include sp {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                span {
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 14px;
                    text-align: center;
                    color: #FFFFFF;
                    @include sp {
                        font-size: get_sp(13);
                        line-height: get_sp(18);
                    }
                }
            }
        }
        .price_support {
            display: flex;
            align-items: center;
            margin-left: 16px;
            @include sp {
                margin: 0;
            }
            span {
                background-color: #F19F4D;
                border-radius: 10px 0 0 10px;
                padding: 19px 23px 16px;
                color: #FFFFFF;
                font-size: 16px;
                line-height: 20px;
                font-weight: bold;
                @include sp {
                    border-radius: get_sp(4) 0 0 get_sp(4);
                    font-size: get_sp(14);
                    line-height: get_sp(20);
                    padding: get_sp(17) get_sp(13) get_sp(14);
                }
            }
            p {
                background-color: #FBCE001C;
                border-radius: 0 10px 0 10px;
                padding: 11px 32px 6px 47px;
                color: #F58D26;
                font-size: 28px;
                line-height: 35px;
                font-weight: bold;
                @include sp {
                    font-size: get_sp(23);
                    line-height: get_sp(32);
                    padding: get_sp(11) get_sp(32) get_sp(8) get_sp(30);
                    border-radius: 0 get_sp(4) get_sp(4) 0;
                }
                strong {
                    font-size: 19px;
                    @include sp {
                        font-size: get_sp(14);
                    }
                }
            }
        }
    }
    .txt_desp {
        color: #37434C;
        text-align: left;
        p {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 10px;
            @include sp {
                font-size: get_sp(13);
                line-height: get_sp(22);
                margin-bottom: get_sp(8);
            }
        }
        .list_item {
            margin-left: 5px;
            display: flex;
            @include sp {
                margin-left: get_sp(5);
            }
            a {
                background-color: #4484CE;
                border-radius: 999px;
                font-size: 11px;
                padding: 5px 8px 4px 7px;
                color: #FFFFFF;
                margin: 0 0 0 4px;
                @include sp {
                    font-size: get_sp(11);
                    padding: get_sp(5) get_sp(8) get_sp(4) get_sp(7);
                    margin: 0 0 0 get_sp(4);
                }
            }
        }
        span {
            font-size: 13px;
            line-height: 26px;
            @include sp {
                font-size: get_sp(13);
                line-height: get_sp(18);
            }
        }
        .target {
            margin-bottom: 6px;
            display: flex;
            align-items: center;
            @include sp {
                margin-bottom: get_sp(9);
            }
        }
        .purpose {
            display: flex;
            align-items: center;
        }
    }
}

/*
    Contact banner Bottom
*/
.contact_banner_bottom {
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: #fff;
    @include sp {
        display: none;
    }
    .inner {
        @include maxWidth(1230px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 14px;
        position: relative;
        &::before {
            content: "";
            @include bgsetup("../images/footer_woman.svg", center, contain);
            width: 104px;
            height: 132px;
            display: block;
            position: absolute;
            left: 0px;
            transform: rotateY(180deg);
            bottom: 0;
        }
    }
    h2 {
        @include text(28px, 36px, #37434c, bold);
        margin-right: 40px;
        span {
            position: relative;
            display: block;
            &::after {
                content: "";
                width: 100%;
                height: 10px;
                border-radius: 10px;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                background-color: #fbc500;
            }
        }
    }
    .phone {
        display: flex;
        align-items: center;
        margin-right: 16px;
        .thumb {
            width: 56px;
            margin-right: 8px;
        }
        .phone_txt {
            p {
                @include text(16px, 22px, #37434c, 400);
                margin-bottom: 5px;
            }
            h3 {
                @include text(42px, 42px, #f19f4d, bold);
            }
        }
    }
    .email {
        background-color: #4484ce;
        display: flex;
        padding: 15px 55px 16px 27px;
        border-radius: 10px;
        align-items: center;
        @include text(18px, 25px, #fff, bold);
        .thumb {
            width: 33px;
            margin-right: 21px;
        }
    }
}


/*
    Title Section
*/
.tlt_section {
    background-color: #4484CE;
    padding: 18px 20px 15px;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    display: block;
    border-radius: 10px 10px 0 0;
    @include sp {
        border-radius: get_sp(10) get_sp(10) 0 0;
        font-size: get_sp(16);
        line-height: get_sp(22);
        padding: get_sp(12) 0;
    }
    &:before {
        content: '';
        @include bgsetup('../images/icon_tlt_08.svg', top center, 100% auto);
        width: 25px;
        height: 39px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        @include sp {
            width: get_sp(28);
            height: get_sp(36);
            margin-right: get_sp(8);
        }
    }
}

/*
    Btn Link
*/

.btn_link {
    text-align: right;
    a {
        color: #96B95C;
        font-size: 12px;
        letter-spacing: 0.24px;
        line-height: 22px;
        font-weight: 500;
    }
}

/*
    List content table
*/
.list_table {
    ul {
        li {
            font-size: 16px;
            line-height: 26px;
            display: flex;
            flex-wrap: wrap;
            @include sp {
                font-size: get_sp(13);
                line-height: get_sp(18);
            }
            &:last-child {
                span {
                    border-bottom: 1px solid #CFE3EE;
                }
                .txt_desp {
                    border-bottom: 1px solid #CFE3EE;
                }
            }
            span {
                border: 1px solid #CFE3EE;
                border-bottom: none;
                background-color: #EFF7FC;
                width: 287px;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 14px 0 16px;
                font-weight: 500;
                @include sp {
                    width: get_sp(136);
                    padding: get_sp(11) 0 get_sp(10);
                    flex-direction: column;
                }
            }
            .txt_desp {
                width: 513px;
                text-align: left;
                padding: 14px 17px 16px;
                border: 1px solid #CFE3EE;
                border-left: none;
                border-bottom: none;
                background-color: #FFFFFF;
                @include sp {
                    width: get_sp(245);
                    padding: get_sp(11) get_sp(11) get_sp(10);
                }
                a {
                    color: #4484CE;
                }
            }
        }
    }
}
/*
    Faq
*/
.question {
    display: flex;
    align-items: baseline;
    position: relative;
    padding: 11px 16px 12px;
    cursor: pointer;
    background-color: #F4F4F4;
    border-bottom: 1px solid #D9D9D9;
    @include sp {
        padding: get_sp(11) get_sp(8) get_sp(10);
    }
    &.active {
        border: none;
        &::after {
            transform: rotate(180deg);
        }
    }
    &::after {
        content: '';
        display: block;
        width: 8px;
        height: 7px;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s linear;
        @include bgsetup('../images/arrow_down.svg', center, contain);
        @include sp {
            width: get_sp(8);
            height: get_sp(7);
            right: get_sp(8);
        }
    }
    span {
        margin-right: 16px;
        @include sp {
            margin-right: get_sp(8);
        }
    }
}
.answer {
    background: #FFFFFF;
    padding: 15px 16px 16px 50px;
    display: none;
    @include sp {
        padding: get_sp(12) get_sp(18) get_sp(10) get_sp(39);
    }
    p {
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        @include sp {
            font-size: get_sp(13);
            line-height: get_sp(20);
        }
    }
}

/*
    title section relative
*/
.title_section_relative {
    @include text(22px, 30px, #00192a, 400);
    position: relative;
    z-index: 1;
    text-align: left;
    @include sp {
        @include textRes(get_sp(16), get_sp(22));
    }
    span {
        position: absolute;
        font-family: $font-futura;
        @include text(71px, 91px, #bad7eb, 300);
        bottom: -8px;
        left: -7px;
        width: 100%;
        z-index: -1;
        text-transform: uppercase;
        @include sp {
            @include textRes(get_sp(34), get_sp(43));
            bottom: get_sp(2);
            left: get_sp(-5);
            white-space: nowrap;
        }
        strong {
            @include sp {
                display: none;
            }
        }
    }
}

/*
    form wrapper
*/
.form_wrapper {
    @include sp {
        margin-bottom: get_sp(30);
    }
    .title_section_relative {
        margin-bottom: 15px;
        @include sp {
            margin-bottom: get_sp(12);
        }
    }
    form {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        overflow: hidden;
        @include sp {
            border-radius: get_sp(10);
        }
        h2 {
            @include text(22px, 30px, #37434C, bold);
            padding: 23px 0 20px;
            background-color: #fff;
            @include sp {
                @include textRes(get_sp(16), get_sp(22));
                padding: get_sp(16) 0 get_sp(14);
            }
        }
        .form_content {
            padding: 32px 318px 30px;
            @include sp {
                padding: get_sp(17) get_sp(8) get_sp(30);
            }
            &.blue {
                background-color: #E8F3FE;
            }
            &.yellow {
                background-color: #FEEFAD;
            }
            h4 {
                @include text(16px, 23px, #37434C, 400);
                margin-bottom: 32px;
                @include sp {
                    @include textRes(get_sp(13), get_sp(20));
                    margin-bottom: get_sp(15);
                    text-align: left;
                }
                span {
                    display: block;
                }
            }
        }
    }
    .item_contact {
        margin-bottom: 22px;
        @include sp {
            margin-bottom: get_sp(16);
        }
        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            display: flex;
            @include text(16px, 22px, #37434C, bold);
            margin-bottom: 10px;
            @include sp {
                @include textRes(get_sp(13), get_sp(18));
                margin-bottom: get_sp(7);
            }
            span {
                display: block;
                padding: 2px 6px 1px 5px;
                @include text(12px, 17px, #fff, bold);
                margin-right: 10px;
                background-color: #DF481F;
                border-radius: 4px;
                @include sp {
                    padding: get_sp(2) get_sp(7) get_sp(2) get_sp(5);
                    @include textRes(get_sp(10), get_sp(14));
                    margin-right: get_sp(6);
                    border-radius: get_sp(4);
                }
            }
        }
        .select_item {
            position: relative;
            select {
                width: 100%;
                appearance: none;
                padding: 16px 16px 16px 20px;
                border-radius: 10px;
                outline: none;
                background-color: #fff;
                @include text(16px, 22px, #BAD7EB, 400);
                cursor: pointer;
                @include sp {
                    padding: get_sp(11) get_sp(10) get_sp(10);
                    border-radius: get_sp(8);
                    @include textRes(get_sp(13), get_sp(18));
                }
            }
            &::after {
                content: '';
                width: 8px;
                display: block;
                height: 7px;
                @include bgsetup('../images/arrow_down.svg', center, contain);
                position: absolute;
                top: 24px;
                right: 16px;
                pointer-events: none;
                @include sp {
                    width: get_sp(8);
                    height: get_sp(7);
                    right: get_sp(9);
                    top: get_sp(16);
                }
            }
        }
        .input_group {
            &.has_button {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .input_item {
                    width: 47.07%;
                    @include sp {
                        width: 61.25%;
                    }
                }
                .error {
                    @include sp {
                        margin-right: get_sp(-100);
                    }
                }
                button {
                    width: 47.07%;
                    @include text(18px, 25px, #FFFFFF, bold);
                    padding: 15px 0 14px;
                    background-color: #4484CE;
                    border-radius: 10px;
                    @include sp {
                        width: 35.07%;
                        @include textRes(get_sp(13), get_sp(18));
                        padding: get_sp(11) 0 get_sp(10);
                        border-radius: get_sp(8);
                    }
                }
            }
            input {
                padding: 16px 16px 16px 20px;
                border-radius: 10px;
                background-color: #fff;
                @include text(16px, 22px, #37434C, 400);
                @include sp {
                    padding: get_sp(11) get_sp(10) get_sp(10);
                    border-radius: get_sp(8);
                    @include textRes(get_sp(13), get_sp(18));
                }
                &::placeholder {
                    color: #BAD7EB;
                }
            }
            input[type="password"] {
                letter-spacing: 2px;
            }
        }
        .textarea_group {
            textarea {
                padding: 16px 20px;
                border-radius: 10px;
                background-color: #fff;
                @include text(16px, 22px, #37434C, 400);
                height: 204px;
                resize: none;
                width: 100%;
                border: 0;
                outline: none;
                @include sp {
                    padding: get_sp(11) get_sp(10);
                    border-radius: get_sp(8);
                    @include textRes(get_sp(13), get_sp(18));
                    height: get_sp(147);
                }
                &::placeholder {
                    color: #BAD7EB;
                }
            }
        }
        .checkbox_group {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            .checkbox_item {
                display: flex;
                align-items: center;
                padding: 16px 12px 16px 15px;
                background-color: #fff;
                border-radius: 10px;
                margin-bottom: 8px;
                cursor: pointer;
                @include sp {
                    padding: get_sp(10);
                    border-radius: get_sp(8);
                    margin-bottom: get_sp(8);
                }
                span {
                    @include text(16px, 22px, #37434C, bold);
                    @include sp {
                        @include textRes(get_sp(13), get_sp(18));
                    }
                }
                input[type="checkbox"] {
                    appearance: none;
                    width: 22px;
                    height: 22px;
                    display: block;
                    flex-shrink: 0;
                    margin: 0 9px 0 0;
                    cursor: pointer;
                    @include bgsetup('../images/icon_checkbox.svg', center, contain);
                    @include sp {
                        width: get_sp(19);
                        height: get_sp(19);
                        margin-right: get_sp(8);
                    }
                    &:checked {
                        @include bgsetup('../images/icon_checked_yellow.svg', center, contain);
                    }
                }
            }
        }
        &.one_third {
            .checkbox_item {
                width: 31.2%;
                margin-right: 17px;
                @include sp {
                    width: 47.9%;
                    margin-right: get_sp(16);
                }
                &:nth-child(3n) {
                    margin-right: 0;
                    @include sp {
                        margin-right: get_sp(16);
                    }
                }
                &:nth-child(2n) {
                    @include sp {
                        margin-right: 0;
                    }
                }
                &:nth-last-child(3) {
                    margin-bottom: 0;
                    @include sp {
                        margin-bottom: get_sp(8);
                    }
                }
                &:nth-last-child(2), &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &.one_half {
            .checkbox_item {
                width: 46.8%;
                margin-right: 35px;
                @include sp {
                    width: 47.9%;
                    margin-right: get_sp(16);
                }
                &:nth-child(2n) {
                    margin-right: 0;
                }
                &:nth-last-child(2), &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .button_group {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @include sp {
                flex-direction: column;
            }
            .button_item {
                width: 46.45%;
                @include sp {
                    width: 100%;
                    margin-bottom: get_sp(17);
                }
                &:last-child {
                    @include sp {
                        margin-bottom: 0;
                    }
                }
                button {
                    @include text(16px, 22px, #FFFFFF, 400);
                    padding: 16px 0;
                    width: 100%;
                    background: #4B88CF;
                    border-radius: 10px;
                    @include sp {
                        @include textRes(get_sp(13), get_sp(18));
                        padding: get_sp(11) get_sp(10) get_sp(10);
                        border-radius: get_sp(8);
                        text-align: left;
                    }
                }
            }
        }
    }
    .error {
        @include text(12px, 17px, #DF481F, bold);
        margin-top: 9px;
        display: block;
        text-align: left;
        @include sp {
            @include textRes(get_sp(12), get_sp(17));
            margin-top: get_sp(8);
        }
    }
    .agree {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 7px;
        @include sp {
            margin-bottom: get_sp(7);
        }
        input[type="checkbox"] {
            appearance: none;
            border: none;
            background-color: #D6D9DA;
            cursor: pointer;
            width: 17px;
            height: 17px;
            margin: 0 10px 0 0;
            @include sp {
                width: get_sp(17);
                height: get_sp(17);
                margin: 0 get_sp(10) 0 0;
            }
            &:checked {
                @include bgsetup("../images/icon_checked.svg", center, 70%);
            }
        }
        span {
            @include text(14px, 17px, #37434C, 400);
            @include sp {
                @include textRes(get_sp(12), get_sp(14));
            }
            a {
                color: #4484CE;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
    .form_submit {
        padding: 33px 0 30px;
        background-color: #fff;
        @include sp {
            padding: get_sp(21) 0 get_sp(20);
        }
        h3 {
            @include text(22px, 30px, #37434C, bold);
            margin-bottom: 19px;
            @include sp {
                @include textRes(get_sp(16), get_sp(22));
                margin-bottom: get_sp(16);
            }
        }
        .btn.disable {
            background-color: #dbdbdb;
            cursor: not-allowed;
        }
    }
    .btn {
        padding: 14px 15px 10px;
        width: 320px;
        margin: 0 auto; 
        border-radius: 60px;
        display: block;
        @include text(18px, 25px, #fff, bold);
        @include sp {
            padding: get_sp(14) get_sp(10) get_sp(13);
            width: get_sp(320);
            border-radius: get_sp(60);
            @include text(get_sp(16), get_sp(22));
        }
        &.btn_orange {
            background-color: #F19F4D;
        }
        &.btn_blue {
            background-color: #4484CE;
        }
        &.btn_outline {
            border: 2px solid #4484CE;
            background-color: transparent;
            color: #4484CE;
        }
    }
    .list_btn {
        .btn {
            margin-bottom: 16px;
            @include sp {
                margin-bottom: get_sp(16);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/*
    body class
*/
.page_fakomi {
    min-width: 1230px;
    overflow-x: scroll;
    @include sp {
        min-width: unset;
        overflow-x: hidden
    }
}