$base-font-family: 'Noto Sans JP', sans-serif;
$font-futura: futura-pt, sans-serif;
$font-din: din-2014, sans-serif;
$breakpoint-pc: 1366px;
$breakpoint-lg: 901px;
$breakpoint-md: 900px;

$clr-base: #FFFFFF;
$clr-txt-base: #FFFFFF;
$clr-base-bg: #FFFFFF;
$clr-base-font: #000000;
$clr-color-01: #EDEDED;
$clr-color-02: #CECECE;
$clr-color-03: #BABABA;
$clr-color-04: #585858;
$clr-color-05: #302F2F;
$clr-color-06: #96B95C;
$clr-color-07: #3B5D4F;
$clr-color-08: #C38624;
$ease-inout: ease-in-out;
$ease-liner: linear;
$ease-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-cubic-out: cubic-bezier(0.915, 0.03, 0.91, 0.35);
