@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
@mixin formclear {
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}
@mixin bgsetup($bgimage: "", $bgposi: "", $bgsize: "", $bgrepeat: "") {
    @if $bgimage != "" {
        background-image: url($bgimage);
    }
    @if $bgposi != "" {
        background-position: $bgposi;
    }
    @if $bgsize != "" {
        background-size: $bgsize;
    }
    @if $bgrepeat != "" {
        background-repeat: $bgrepeat;
    }@else {
        background-repeat: no-repeat;
    }
}

@mixin pc { //pc
    @media (max-width: $breakpoint-pc) and (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin sp { //sp
    @media (max-width: ($breakpoint-md)) {
        @content;
    }
}

@function get_pc($fsize, $viewport:1006) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}

@function get_sp($fsize, $viewport:390) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}

@function get_tb($fsize, $viewport: 768) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}

@function get_sp($fsize, $viewport: 430) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}

/* text clamp */
@mixin txtClamp($clamp: '') {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $clamp;
}

@mixin text($font-size: "", $line-height: "", $color: "", $font-weight: "", $letter-spacing: "") {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-weight: $font-weight;
    @if( $letter-spacing != "" ) {
        letter-spacing: $letter-spacing;
    }
}
@mixin textRes($font-size: "", $line-height: "", $letter-spacing: "") {
    font-size: $font-size;
    line-height: $line-height;
    @if( $letter-spacing != "" ) {
        letter-spacing: $letter-spacing;
    }
}

@mixin maxWidth($maxWidth: "", $marginBottom: "") {
    @if( $maxWidth != "" ) {
        max-width: $maxWidth;
    }
    width: 100%;
    @if( $marginBottom != "" ) {
        margin: 0 auto $marginBottom;
    } @else {
        margin: 0 auto;
    }
}
